.app__wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.app__title {
  margin: 0 0 24px;
  text-align: center;
}
.app__sections-wrapper {
  display: flex;
  gap: 24px;
  justify-content: center;
}
